header {
  text-align: center;
  background-color: #eee;
  margin-bottom: 20px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #101010;
  margin: 5px;
}

.active {
  text-decoration: underline;
}
